.main {
  width: 50%;
  margin: 0 auto;
}

.formWrapper {
  margin-bottom: 40px;
}

.formsBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.formsBlock h2 {
  font-size: 14px;
  color: #0f172a;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0 10px;
  }

  .formsBlock {
    display: block;
  }
}

@media screen and (max-width: 1048px) {
  .main {
    width: 100%;
    padding: 0 10px;
  }

  .formsBlock {
    display: block;
  }
}